.header__booking {
  max-height: 150px;
  background-image: url("../../images/header.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3.125rem;
}