.navbar{
  height: 6.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__bars {
  color: #fff;
  font-size: 3rem;
  margin-left: 2rem;
}

.menu__bars.hidden {
  visibility: hidden;
}

.nav__menu {
  background-color: rgba(0,0,0,.8);
  width: 12.5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 500ms;
}

.nav__menu.active {
  left: 0;
  transition: 450ms;
}

.nav__text {
  font-size: 1.2rem;
  list-style: none;
  padding: 2.5rem 3rem 2.5rem 0;

  a {
    text-decoration: none;
    color: #fff;
    padding: 0 2rem;

    &:hover{
      color: #DAB42C;
    }
  }
}
