.form__input {
  &::-webkit-slider-runnable-track {
    background: #6B6B6B;
    height: 0.3125rem;
    border-radius: 0.1875rem;
  }

  &::-webkit-slider-thumb {
    margin-top: -6px;
  }
}

.header__booking {
  max-height: 9.375rem;
  background-image: url("./images/header.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3.125rem;
}

hr {
  color: #000;
  background-color: #000;
  border: none;
  height: .1rem;
  width: 9.375rem;
  margin: 1.875rem auto;
}

.image__form__container {
  margin: 3.125rem;
  position: relative;
  width: 100%
}

label {
  font-family: Ubuntu, sans-serif;
  font-size: 1rem;
  color: #6B6B6B;
  text-transform: uppercase;
  display: block;
  letter-spacing: .2rem;
  margin: 1rem 0;
  @media (max-width: 420px){
    display: inline-block;
    margin-right: 10px;
  }
  @media (min-width: 420px) and (max-width: 1025px){
    display: inline-block;
    margin-right: 10px;
  }
}

.media__desktop {
  @media (max-width: 420px){
    display: none;
  }
  @media (min-width: 420px) and (max-width: 1025px){
    display: none;
  }
}
.media__desktop-arrow {
  width: 2.5rem;
  @media (max-width: 420px){
    display: none;
  }
  @media (min-width: 420px) and (max-width: 1025px){
    display: none;
  }
}

.media__mobile-tablet-arrow {
  width: 2.5rem;
  display: none;
  @media (max-width: 420px){
    display: inline-block;
  }
  @media (min-width: 420px) and (max-width: 1025px){
    display: inline-block;
  }
}

.menu__bars {
  color: #fff;
  font-size: 3rem;
  margin-left: 2rem;
}

.menu__bars.hidden {
  visibility: hidden;
}

.navbar{
  height: 6.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__menu {
  background-color: rgba(0,0,0,.8);
  width: 12.5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 500ms;
}

.nav__menu.active {
  left: 0;
  transition: 450ms;
}

.nav__text {
  font-size: 1.2rem;
  list-style: none;
  padding: 2.5rem 3rem 2.5rem 0;

  a {
    text-decoration: none;
    color: #fff;
    padding: 0 2rem;

    &:hover{
      color: #DAB42C;
    }
  }
}

.ourRooms {
  padding: 0 1.25rem;
  max-width: 30.125rem;
  @media (max-width: 420px){
    padding: 0;
    margin: 0 auto;
  }
  @media (min-width: 420px) and (max-width: 1025px){
    padding: 1rem 0;
  }
}